<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="google-signin-client_id" content="572484158514-mqcubhd0n0ddiqg8ddpr5bmoab4e5isj.apps.googleusercontent.com">
    

  <title>Mini-Wp Rubhi</title>
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="./css/vueWysiwyg.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  
</head>

<body>
  <div id="app">
    <div id="logged-out-content" v-if="!isLogin">
        <div class="h-100 row justify-content-center align-items-center" >
          <login-card v-if="wantLogin"
            @change-auth="setWantLogin"
            @auth-success="authSuccess">
          </login-card>
          <register-card v-else
            @change-auth="setWantLogin"
            @auth-success="authSuccess">   
          </register-card>
         </div>
    </div>
    <div id="logged-on-content" v-if="isLogin">
        <aside id="sidebar" v-bind:style="{width: sidebar.width}" class="d-flex flex-column align-items-start">
            <side-bar @set-view-id="setViewId"
              :username="username"
              :div-id="Number(viewId)"
              :img-src="imgSrc"
              :published-article="publishedArticleLength"
              @update-pp="updatePicture">
            </side-bar>
          </aside>
          <div id="content" v-bind:style="{'margin-left': contentMargin, padding:'5px'}">
            <top-navbar
              @search-success="setViewedArticles"
              @invoke-logout="setLogout"
              @show-all="getArticle">
            </top-navbar>
            <div id="articles" v-if="viewId==VIEW_ID.ALL_ARTICLE" class="mt-5">
              <article-list
                :articles="viewedArticles"
                :type="'page'">
              </article-list>
            </div>
            <div id="myarticles" v-else-if="viewId==VIEW_ID.MY_ARTICLE" class="mt-5 ml-3 mr-4">
              <article-list
                :articles="myArticles"
                :type="'data'"
                :need-published="true"
                @on-delete-success="deleteArticle"
                @on-edit-article="setEditArticle">
              </article-list>
            </div>
            <div id="draft" v-else-if="viewId==VIEW_ID.DRAFT" class="mt-5 ml-3 mr-4">
              <article-list
                :articles="myArticles"
                :type="'data'"
                :need-published="false"
                @on-delete-success="deleteArticle"
                @on-edit-article="setEditArticle">
              </article-list>
            </div>
      
            <!-- Modal Component -->
            
              <article-modal
                :article="editArticle"
                @create-success="createArticle"
                @update-success="updateArticle">
              </article-modal>
             
            
          </div>
      
    </div>
    

  

  </div>
  
  <script src="//unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

  <!--Components-->
  <script src="./js/vueWysiwyg.js"></script>
  <script src="js/components/register-card.js"></script>
  <script src="js/components/login-card.js"></script>
  <script src="js/components/article-modal.js"></script>
  <script src="js/components/article-data.js"></script>
  <script src="js/components/article-list.js"></script>
  <script src="js/components/article-page.js"></script>
  <script src="js/components/side-nav-button.js"></script>
  <script src="js/components/side-nav-button.js"></script>
  <script src="js/components/top-navbar.js"></script>
  <script src="js/components/side-bar.js"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./js/helper/constantvalue.js"></script>
  <script src="./js/helper/errorHandler.js"></script>
  <script src="./js/helper/gsign.js"></script>
 
  <script src="./js/main.js"></script>
</body>

</html>