<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mini-Wp Rubhi</title>
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="./css/vueWysiwyg.css" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet">
</head>
<!-- 
    <i class="fas fa-search"></i> 
    <i class="far fa-plus-square"></i>
    <i class="fas fa-eye-slash"></i>
    <i class="fas fa-newspaper"></i>
    <i class="far fa-sticky-note"></i>
-->

<body>
  <div id="app">
    <aside id="sidebar" v-bind:style="{width: sidebar.width}" class="d-flex flex-column align-items-start">
      <div id="profile" class="d-flex flex-column p-4">
        <div class="d-flex flex-row">
          <img src="./images/default.png" alt="pp.png" class="rounded-circle ">
          <p class="ml-3 align-self-center">Rubhi Aulia Tirta</p>
        </div>
        <small class="font-italic font-weight-bold mt-2">{{publishedArticleLength}}</small>
      </div>
      <a class="btn mybutton" v-on:click="divId = 1"><i v-bind:class=" { 'glow': (divId == 1), 'fas':true, 'fa-eye':true, 'mr-2':true }"></i>View Articles</a>
      <a class="btn mybutton" v-b-modal.mymodal><i class="far fa-plus-square mr-2"></i>Add Article</a>
      <a class="btn mybutton" v-on:click="divId = 2"><i v-bind:class=" { 'glow': (divId == 2), 'fas':true, 'fa-newspaper':true, 'mr-2':true }"></i>My Articles</a>
      <a class="btn mybutton" v-on:click="divId = 3"><i v-bind:class=" { 'glow': (divId == 3), 'fas':true, 'fa-sticky-note':true, 'mr-2':true }"></i>Draft</a>
    </aside>
    <div id="content" v-bind:style="{'margin-left': contentMargin, padding:'5px'}">
      <b-navbar class="m-1" toggleable="lg" type="light" variant="light">
        <b-navbar-brand href="#" class="rock-salt">RAT Mini-WP</b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="ml-auto align-items-end m-1">
            <b-nav-form @submit.prevent="search">
              <b-form-input size="sm" class="mr-sm-2" v-model="searchQuery" placeholder="Search"></b-form-input>
              <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
            </b-nav-form>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
      <div id="articles" v-if="this.divId===1" class="mt-5">
        <div v-for="(article, index) in articles">
          <div id="article-view" class="m-4 p-4" v-if="article.isPublished">
            <h1>{{article.title}}</h1>
            <br>
            <div v-html="article.content"></div>
            <div id="article-tag" class="d-flex flex-row">
              <b-badge variant="dark" class="mr-2" v-for="tag in article.tags">{{tag}}</b-badge>
            </div>
          </div>
        </div>
      </div>
      <div id="articles" v-if="this.divId===4" class="mt-5">
        <div v-for="(article, index) in searchResult">
          <div id="article-view" class="m-4 p-4" v-if="article.isPublished">
            <h1>{{article.title}}</h1>
            <br>
            <div v-html="article.content"></div>
            <div id="article-tag" class="d-flex flex-row">
              <b-badge variant="dark" class="mr-2" v-for="tag in article.tags">{{tag}}</b-badge>
            </div>
          </div>
        </div>
      </div>
      <div id="myarticles" v-else-if="this.divId===2" class="mt-5 ml-3 mr-4">
        <div role="tablist" v-for="(article, index) in articles">
          <b-card no-body class="mb-1" v-if=article.isPublished>
            <b-card-header header-tag="header" class="p-1 d-flex flex-row justify-content-between align-items-center" role="tab">
              <h5>{{article.title}}</h5>
              <div class="d-flex flex-row">
                <b-button class="mr-2" v-b-toggle="'accordion-'+index"><i class="fa fa-eye"></i></b-button>
                <b-button class="mr-2" @click="setEditId(article._id,article)" v-b-modal.mymodal><i class="fa fa-edit"></i></b-button>
                <b-button class="mr-2" v-b-modal.modal-delete-confirmation @click="setDeleteId(article._id)"><i class="fa fa-trash-alt"></i></b-button>
              </div>
            </b-card-header>
            <b-collapse v-bind:id="'accordion-'+index" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <h1>{{article.title}}</h1>
                <br>
                <div v-html="article.content"></div>
                <div id="article-tag" class="d-flex flex-row">
                  <b-badge variant="dark" class="mr-2" v-for="tag in article.tags">{{tag}}</b-badge>
                </div>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
      </div>
      <div id="draft" v-else-if="this.divId===3" class="mt-5 ml-3 mr-4">
        <div role="tablist" v-for="(article, index) in articles">
          <b-card no-body class="mb-1" v-if=!article.isPublished>
            <b-card-header header-tag="header" class="p-1 d-flex flex-row justify-content-between align-items-center" role="tab">
              <h5>{{article.title}}</h5>
              <div class="d-flex flex-row">
                <b-button class="mr-2" v-b-toggle="'accordion-'+index"><i class="fa fa-eye"></i></b-button>
                <b-button @click="setEditId(article._id,article)" v-b-modal.mymodal class="mr-2"><i class="fa fa-edit"></i></b-button>
                <b-button v-b-modal.modal-delete-confirmation @click="setDeleteId(article._id)" class="mr-2"><i class="fa fa-trash-alt"></i></b-button>
              </div>
            </b-card-header>
            <b-collapse v-bind:id="'accordion-'+index" accordion="my-accordion" role="tabpanel">
              <b-card-body>
                <h1>{{article.title}}</h1>
                <br>
                <div v-html="article.content"></div>
                <div id="article-tag" class="d-flex flex-row">
                  <b-badge variant="dark" class="mr-2" v-for="tag in article.tags">{{tag}}</b-badge>
                </div>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
      </div>

      <!-- Modal Component -->
      <b-modal ref="my-modal" size="lg" id="mymodal" title="Article" hide-footer
        ok-title="Publish" cancel-title="Save as Draft">
            <p class="text-red">{{modalError}}</p>
            <small>Title:</small>
            <input type="text" class="w-100" v-model="modalTitle">
            <br>
            <small>Article:</small>
            <wysiwyg v-model="modalText"></wysiwyg>
            <small>Tags: (seperate tags with comma)</small>
            <input type="text" class="w-100" v-model="modalTags">
            <div class="d-flex flex-row justify-content-end mt-3">
              <b-button  class="mr-2 " @click="closeModal">Cancel</b-button>
              <b-button variant="success" class="mr-2 " @click="draftBtnModal(modalEditedid)">Save As Draft</b-button>
              <b-button variant="primary" class="mr-2"  @click="publishBtnModal(modalEditedid)">Publish</b-button>
            </div>
      </b-modal>
      <!--Modal Confirmaton-->
      <div>
        <!-- Modal Component -->
        <b-modal id="modal-delete-confirmation" title="BootstrapVue"  @ok="deleteArticle">
          <p class="my-4">Are you sure want to delete this item?</p>
          <p>{{modalDeleteId}}</p>
        </b-modal>
      </div>
    </div>


    <!-- <div id="content" class="p-3">
      <b-nav v-bind:style="{margin-left: sidebar.width}" class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand rock-salt" href="#">RAT Mini-WP</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit"> <i class="fas fa-search"></i> </button>
          </form>
        </div>
      </b-nav>
    </div>
    <div class="modal fade" id="add-article-modal" tabindex="-1" role="dialog" aria-labelledby="add-article" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="add-article-modal-title">Add New Article</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <small>Title:</small>
            <input id="add-article-title-input" type="text" class="w-100">
            <br>
            <small>Article:</small>
            <textarea id="add-article-body-input" type="text" class="w-100"></textarea>
            <small>Tags:</small>
            <input id="add-article-tags-input" type="text" class="w-100">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Save as Draft</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Publish</button>
          </div>
        </div>
      </div>
    </div> -->

  </div>

  <script src="//unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./js/vueWysiwyg.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>