
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Rock+Salt');
*{
    margin: 0;
    padding: 0;
}
.rock-salt{
    font-family: 'Rock Salt', sans-serif;
}
html{
    padding: 0;
    margin: 0
}
body{
 
    height: 100vh;
    background-color: #850000;
    
}
.test{
    width: 500px;
    height: 100%;
    margin: 10px;
    background-color: antiquewhite;
}
#logged-out-content{
    height: 100vh;
}

#sidebar{
    /* position: absolute; */
    position: fixed;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    background: black;
    overflow-x: hidden;
    transition: 0.5s;
}
#sidebar{
    height: 100%;
    color: whitesmoke
}
#profile img{
    width: 60px;
    height: 60px;
}

#sidebar a{
    margin: 10px;
    text-decoration: none;
    
}
#sidebar a:hover{
    color: white;
    font-weight: bold;
    color: #850000;
}
#modal-image{
    width: 30%;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}
a{
    cursor: pointer
}
/* #mynavbar{
    position: absolute;
} */

/* add article modal */

#add-article-body-input{
    height: 400px;
}

.article-view{
    background-color: whitesmoke
}

.glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }